# Notebook for collecting tweets from Danish Parliament members usernames
### Anton Elias Holt - exam in Computational linguistics at Aarhus University, spring 2021

In [2]:
import pandas as pd
import tweepy
import pickle
import langdetect
from datetime import datetime, timedelta

In [3]:
"""Getting the list of parliament-members and their Twitter-names"""

data = pd.read_pickle('ft_medlemmer_v3.pkl')
data

                     Medlem Parti     Twitter_navn
0          Mette Abildgaard    KF  metteabildgaard
1             Karina Adsbøl    DF      AdsbolAdsbl
2              Tommy Ahlers     V          aahlers
3           Alex Ahrendtsen    DF              NaN
4    Marlene Ambo-Rasmussen     V      MarleneAmbo
..                      ...   ...              ...
174            Lea Wermelin     S      LeaWermelin
175          Susanne Zimmer   UFG  Susanne_Zimmer_
176             Fatma Øktem     V      fatmaoektem
177            Orla Østerby   UFG      orlaosterby
178  Anne Honoré Østergaard     V      AnneStergaa

[179 rows x 3 columns]

In [4]:
"""Some parliament members who have a Twitter-profile are inactive, these are removed in ft_medllemer_v3.pkl
    This holds true for:"""
#Jan Johansen (janjohansen16)
#data['Twitter_navn'][77] = 'NaN'

#Bjarne Laustsen (Bjarne_Laustsen)
#data['Twitter_navn'][101] = 'NaN'

#Hans Christian Schmidt (HaChrSchmidt) Han har 2 tweets, men den nyeste er fra marts 2019
#data['Twitter_navn'][146] = 'NaN'

#Sjúrður Skaale (SjurSkaale) Han har 1 tweet, der er et retweet, fra oktober 2019
#data['Twitter_navn'][151] = 'NaN'
data['Twitter_navn'][151]

'NaN'

In [5]:
"""Authorization for tweepy api"""

# Twitter Api Credentials
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 

auth = tweepy.OAuthHandler(consumer_key, consumer_secret) #Interacting with twitter's API
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API (auth) #creating the API object

In [1]:
"""Defines the functions for extracting data from a Twitter user's profile"""

def get_tweets(username, max_ID):
    tweets = api.user_timeline(screen_name=username, 
                               # 200 is the maximum allowed count
                               count=200,
                               include_rts = False,
                               # Necessary to keep full_text 
                               # otherwise only the first 140 words are extracted
                               tweet_mode = 'extended',
                               max_id = max_ID,
                               exclude_replies = True)
    return tweets

def get_tweets_start(username):
    tweets = api.user_timeline(screen_name=username, 
                               # 200 is the maximum allowed count
                               count=200,
                               include_rts = False,
                               # Necessary to keep full_text 
                               # otherwise only the first 140 words are extracted
                               tweet_mode = 'extended',
                               exclude_replies = True)
    return tweets

# The function below stops collecting when a specific date is reached
## It also filters out english tweets with the langdetect module

In [7]:
"""This function extracts all tweets of the Timeline of a Twitter-user.
    The function returns: 
        - A list of all original tweets the user have posted
        - The date and time of their earliest tweet
        - The number of tweets extracted through the function
    It also prints this information to your selected output.
    The function utilizes both the get_tweets() function and the get_tweets_start() function.
"""

def get_ALL_tweets(username):
    run = 1
    list_of_tweets = []
    list_of_ids = []
    starting_list = get_tweets_start(username)
    for tweet in starting_list:
        list_of_ids.append(tweet.id)
        list_of_tweets.append(tweet)
        """Breaking the loop if the tweets are from earlier than a specific date"""
        if datetime.date(list_of_tweets[-1].created_at) < datetime.date(datetime(2019,1,1)):
            run = 0
            print('past the date!')
            break
    
    while run == 1:
        running_list = get_tweets(username,min(list_of_ids))
        for tweet in running_list:
            list_of_ids.append(tweet.id)
            list_of_tweets.append(tweet)
            if tweet.id == list_of_ids[-2] and tweet.id == list_of_ids[-4]:
                run = 0
        
            """Breaking the loop if the tweets are from earlier than a specific date"""
            if datetime.date(list_of_tweets[-1].created_at) < datetime.date(datetime(2019,1,1)):
                run = 0
                print('past the date!')
                break
            
    # After extracting the tweets, duplicates (that are produced at the start of each iteration) are removed
    new_list_of_ids = []
    new_list_of_tweets = []
    for tweet in list_of_tweets:
        if tweet.id not in new_list_of_ids:
            new_list_of_ids.append(tweet.id)
            new_list_of_tweets.append(tweet)
    print('Collected tweets from: ',username)
    print('Tweets collected: ',len(new_list_of_tweets))
    print('Earliest tweet was from: ',new_list_of_tweets[-1].created_at,'\n')
    return new_list_of_tweets, new_list_of_tweets[-1].created_at, len(new_list_of_tweets)

In [ ]:
"""Testing the function on a single twitter-name"""

mylist = get_ALL_tweets(data['Twitter_navn'][4])[0]
for tweet in mylist:
    print(tweet.full_text,tweet.created_at,'\n')

In [ ]:
"""Testing the function on 3 twitter-names"""

list_of_people = []
for i in range(3):
    list_of_people.append(data['Twitter_navn'][i])
list_of_people

In [8]:
"""Creating new empty columns for the list of all tweets, the date of the 
    earliest tweet, and the total number of tweets"""

list_for_new_columns = []
for i in range(0,179,1):
    list_for_new_columns.append('NaN')

data['ALL_tweets'],data['First_tweet'],data['N_tweets'] = list_for_new_columns, list_for_new_columns, list_for_new_columns
data

,Medlem,Parti,Twitter_navn,ALL_tweets,First_tweet,N_tweets
0,Mette Abildgaard,KF,metteabildgaard,NaN,NaN,NaN
1,Karina Adsbøl,DF,AdsbolAdsbl,NaN,NaN,NaN
2,Tommy Ahlers,V,aahlers,NaN,NaN,NaN
3,Alex Ahrendtsen,DF,NaN,NaN,NaN,NaN
4,Marlene Ambo-Rasmussen,V,MarleneAmbo,NaN,NaN,NaN
...,...,...,...,...,...,...
174,Lea Wermelin,S,LeaWermelin,NaN,NaN,NaN
175,Susanne Zimmer,UFG,Susanne_Zimmer_,NaN,NaN,NaN
176,Fatma Øktem,V,fatmaoektem,NaN,NaN,NaN
177,Orla Østerby,UFG,orlaosterby,NaN,NaN,NaN
178,Anne Honoré Østergaard,V,AnneStergaa,NaN,NaN,NaN

In [9]:
"""Here I actually run the function for collecting the tweets from 
    a users timeline on the list of Danish parliament members"""
n=0
k=1
while k == 1:
    for i in range(n,180,1):
        if i == 179:
            k=0
            break
        print(i,data['Medlem'][i])
        if data['Twitter_navn'][i] != 'NaN':
                try:
                    data['ALL_tweets'][i],data['First_tweet'][i],data['N_tweets'][i] = get_ALL_tweets(data['Twitter_navn'][i])
                except:
                    if i != 0:
                        n=i-1
                        print('ERROR\n')
                    if i == 178:
                        print('DONE\n')
                        k=0
                    break
        else:
            print('NaN\n')

0 Mette Abildgaard
past the date!
Collected tweets from:  metteabildgaard
Tweets collected:  375
Earliest tweet was from:  2018-12-31 22:06:15

1 Karina Adsbøl
past the date!
Collected tweets from:  AdsbolAdsbl
Tweets collected:  430
Earliest tweet was from:  2018-12-31 17:06:06

2 Tommy Ahlers
past the date!
Collected tweets from:  aahlers
Tweets collected:  100
Earliest tweet was from:  2018-12-20 15:04:20

3 Alex Ahrendtsen
NaN

4 Marlene Ambo-Rasmussen
past the date!
Collected tweets from:  MarleneAmbo
Tweets collected:  141
Earliest tweet was from:  2015-06-17 09:53:44

5 Katarina Ammitzbøll
past the date!
Collected tweets from:  Ammitzboell_K
Tweets collected:  789
Earliest tweet was from:  2018-12-27 07:38:47

6 Simon Emil Ammitzbøll-Bille
Collected tweets from:  ammitzbollbille
Tweets collected:  589
Earliest tweet was from:  2020-03-28 11:40:36

7 Hans Andersen
past the date!
Collected tweets from:  HansAndersenV
Tweets collected:  442
Earliest tweet was from:  2018-12-21 21:43:52

8 Kirsten Normann Andersen
past the date!
Collected tweets from:  KirstenNormann
Tweets collected:  434
Earliest tweet was from:  2018-12-26 09:02:45

9 Theresa Berg Andersen
past the date!
Collected tweets from:  BergBergtheresa
Tweets collected:  16
Earliest tweet was from:  2018-01-11 18:45:39

10 Ida Auken
past the date!
Collected tweets from:  IdaAuken
Tweets collected:  399
Earliest tweet was from:  2018-12-23 16:27:44

11 Britt Bager
past the date!
Collected tweets from:  brittbager
Tweets collected:  89
Earliest tweet was from:  2018-12-23 07:17:52

12 Heidi Bank
past the date!
Collected tweets from:  bankHeidi
Tweets collected:  79
Earliest tweet was from:  2018-12-12 07:05:52

13 Lise Bech
past the date!
Collected tweets from:  LiseBech
Tweets collected:  447
Earliest tweet was from:  2018-12-31 09:56:55

14 Kaare Dybvad Bek
NaN

15 Birgitte Bergman
Collected tweets from:  BirgitteBergman
Tweets collected:  321
Earliest tweet was from:  2019-02-27 07:32:38

16 Anne Valentina Berthelsen
past the date!
Collected tweets from:  AnneValentina
Tweets collected:  143
Earliest tweet was from:  2018-11-30 22:08:40

17 Liselott Blixt
past the date!
Collected tweets from:  Blixt22
Tweets collected:  141
Earliest tweet was from:  2018-11-13 10:33:45

18 Erling Bonnesen
past the date!
Collected tweets from:  ErlingBonnesen
Tweets collected:  159
Earliest tweet was from:  2018-12-07 12:29:32

19 Trine Bramsen
past the date!
Collected tweets from:  Trinebramsen
Tweets collected:  370
Earliest tweet was from:  2018-12-25 16:43:58

20 Bjørn Brandenborg
Collected tweets from:  BjBrandenborg
Tweets collected:  300
Earliest tweet was from:  2019-07-30 11:08:21

21 Jeppe Bruus
past the date!
Collected tweets from:  JeppeBruus
Tweets collected:  323
Earliest tweet was from:  2018-09-11 11:58:55

22 Morten Bødskov
past the date!
Collected tweets from:  mfMorten
Tweets collected:  958
Earliest tweet was from:  2018-12-28 20:13:42

23 Bent Bøgsted
Collected tweets from:  BentGsted
Tweets collected:  4
Earliest tweet was from:  2019-12-18 16:11:29

24 Astrid Carøe
past the date!
Collected tweets from:  AstridCaroee
Tweets collected:  87
Earliest tweet was from:  2018-09-04 11:30:46

25 Peter Seier Christensen
past the date!
Collected tweets from:  peter_seier
Tweets collected:  120
Earliest tweet was from:  2018-07-15 11:35:45

26 René Christensen
NaN

27 Henrik Dahl
NaN

28 Jens Henrik Thulesen Dahl
past the date!
Collected tweets from:  JThulesen
Tweets collected:  153
Earliest tweet was from:  2018-12-26 13:34:43

29 Kristian Thulesen Dahl
past the date!
Collected tweets from:  Kristianthdahl
Tweets collected:  436
Earliest tweet was from:  2018-12-31 19:52:30

30 Morten Dahlin
past the date!
Collected tweets from:  MortenDahlin
Tweets collected:  1025
Earliest tweet was from:  2018-12-30 22:32:18

31 Lennart Damsbo-Andersen
NaN

32 Thomas Danielsen
past the date!
Collected tweets from:  ThDanielsen
Tweets collected:  156
Earliest tweet was from:  2018-12-19 07:34:18

33 Karina Lorentzen Dehnhardt
past the date!
Collected tweets from:  MF_K_Lorentzen
Tweets collected:  591
Earliest tweet was from:  2018-12-27 16:29:00

34 Mette Hjermind Dencker
past the date!
Collected tweets from:  dfmehd_mette
Tweets collected:  98
Earliest tweet was from:  2018-12-20 10:28:48

35 Pia Olsen Dyhr
Collected tweets from:  PiaOlsen
Tweets collected:  605
Earliest tweet was from:  2019-06-08 20:00:55

36 Uffe Elbæk
Collected tweets from:  uffeelbaek
Tweets collected:  550
Earliest tweet was from:  2020-12-30 10:17:36

37 Louise Schack Elholm
past the date!
Collected tweets from:  LouiseElholm
Tweets collected:  280
Earliest tweet was from:  2018-12-19 08:22:20

38 Karen Ellemann
past the date!
Collected tweets from:  EllemannKaren
Tweets collected:  52
Earliest tweet was from:  2018-12-24 11:47:39

39 Jakob Ellemann-Jensen
past the date!
Collected tweets from:  JakobEllemann
Tweets collected:  217
Earliest tweet was from:  2018-12-21 13:30:01

40 Benny Engelbrecht
Collected tweets from:  BennyEngelbrech
Tweets collected:  1126
Earliest tweet was from:  2019-04-23 14:32:51

41 Søren Espersen
Collected tweets from:  espersendf
Tweets collected:  1213
Earliest tweet was from:  2019-05-17 14:12:20

42 Camilla Fabricius
Collected tweets from:  CamFabricius
Tweets collected:  678
Earliest tweet was from:  2019-08-12 18:13:17

43 Dennis Flydtkjær
past the date!
Collected tweets from:  flydtkjaer
Tweets collected:  112
Earliest tweet was from:  2018-12-07 11:01:06

44 Eva Flyvholm
past the date!
Collected tweets from:  EvaFlyvholm
Tweets collected:  114
Earliest tweet was from:  2018-12-20 12:12:51

45 Claus Hjort Frederiksen
NaN

46 Mette Frederiksen
NaN

47 Mads Fuglede
past the date!
Collected tweets from:  madsfuglede
Tweets collected:  163
Earliest tweet was from:  2018-11-20 12:19:17

48 Martin Geertsen
past the date!
Collected tweets from:  Martin_Geertsen
Tweets collected:  304
Earliest tweet was from:  2016-09-02 16:42:55

49 Torsten Gejl
past the date!
Collected tweets from:  TorstenGejl
Tweets collected:  262
Earliest tweet was from:  2018-12-13 12:15:28

50 Mette Gjerskov
past the date!
Collected tweets from:  MetteGjerskov
Tweets collected:  344
Earliest tweet was from:  2018-12-21 13:48:57

51 Jette Gottlieb
NaN

52 Karin Gaardsted
past the date!
Collected tweets from:  KarinGaardsted
Tweets collected:  1
Earliest tweet was from:  2016-07-07 14:29:29

53 Ane Halsboe-Jørgensen
past the date!
Collected tweets from:  AneHalsboe
Tweets collected:  459
Earliest tweet was from:  2018-12-21 15:39:41

54 Eva Kjer Hansen
past the date!
Collected tweets from:  EvaKjerHansen
Tweets collected:  1
Earliest tweet was from:  2015-11-25 16:20:12

55 Niels Flemming Hansen
past the date!
Collected tweets from:  NielsFlemming01
Tweets collected:  15
Earliest tweet was from:  2018-11-21 13:11:51

56 Orla Hav
past the date!
Collected tweets from:  HavOrla
Tweets collected:  9
Earliest tweet was from:  2018-09-04 16:37:57

57 Kristian Hegaard
Collected tweets from:  KHegaard
Tweets collected:  1117
Earliest tweet was from:  2020-04-30 09:50:14

58 Jane Heitmann
past the date!
Collected tweets from:  JaneHeitmann
Tweets collected:  334
Earliest tweet was from:  2018-12-20 05:47:59

59 Preben Bang Henriksen
NaN

60 Magnus Heunicke
past the date!
Collected tweets from:  Heunicke
Tweets collected:  823
Earliest tweet was from:  2018-12-28 17:38:26

61 Peter Hummelgaard
past the date!
Collected tweets from:  PHummelgaard
Tweets collected:  395
Earliest tweet was from:  2018-12-25 16:34:22

62 Peder Hvelplund
past the date!
Collected tweets from:  pederhvelplund
Tweets collected:  430
Earliest tweet was from:  2017-07-19 13:51:36

63 Nick Hækkerup
NaN

64 Aki-Matilda Høegh-Dam
Collected tweets from:  AkiMati_Siumut
Tweets collected:  32
Earliest tweet was from:  2019-09-30 12:52:41

65 Karsten Hønge
past the date!
Collected tweets from:  khoenge
Tweets collected:  123
Earliest tweet was from:  2018-12-21 18:55:28

66 Bertel Haarder
past the date!
Collected tweets from:  BHaarder
Tweets collected:  1
Earliest tweet was from:  2015-05-27 11:28:16

67 Daniel Toft Jakobsen
NaN

68 Marianne Jelved

past the date!
Collected tweets from:  mariannejelved
Tweets collected:  1
Earliest tweet was from:  2018-01-18 22:11:50

69 Jacob Jensen
past the date!
Collected tweets from:  jacobjensenMF
Tweets collected:  81
Earliest tweet was from:  2018-10-04 20:17:04

70 Leif Lahn Jensen
past the date!
Collected tweets from:  LahnLeif
Tweets collected:  1
Earliest tweet was from:  2017-04-26 14:17:30

71 Michael Aastrup Jensen
past the date!
Collected tweets from:  michaelaastrup
Tweets collected:  168
Earliest tweet was from:  2018-12-23 13:03:43

72 Mogens Jensen
past the date!
Collected tweets from:  MogensJensenS
Tweets collected:  625
Earliest tweet was from:  2018-12-24 18:33:50

73 Thomas Jensen
NaN

74 Brigitte Klintskov Jerkel
past the date!
Collected tweets from:  JerkelK
Tweets collected:  306
Earliest tweet was from:  2018-12-31 18:25:51

75 Jens Joel
past the date!
Collected tweets from:  Jens_Joel
Tweets collected:  423
Earliest tweet was from:  2018-12-19 20:27:44

76 Edmund Joensen
NaN

77 Jan Johansen
NaN

78 Peter Juel-Jensen
past the date!
Collected tweets from:  PeterJuelJensen
Tweets collected:  1
Earliest tweet was from:  2016-04-19 13:39:59

79 Christian Juhl
past the date!
Collected tweets from:  ChristianJuhl2
Tweets collected:  802
Earliest tweet was from:  2018-12-30 11:27:33

80 Mona Juul
Collected tweets from:  JuulMona
Tweets collected:  388
Earliest tweet was from:  2020-09-13 08:28:07

81 Dan Jørgensen
past the date!
Collected tweets from:  DanJoergensen
Tweets collected:  701
Earliest tweet was from:  2018-12-28 12:27:32

82 Jan E. Jørgensen
Collected tweets from:  JanEJoergensen
Tweets collected:  447
Earliest tweet was from:  2019-10-03 08:24:08

83 Naser Khader
past the date!
Collected tweets from:  naserkhaderdk
Tweets collected:  167
Earliest tweet was from:  2018-12-09 16:10:01

84 Carsten Kissmeyer
past the date!
Collected tweets from:  CKissmeyer
Tweets collected:  1
Earliest tweet was from:  2017-11-09 18:18:43

85 Kasper Sand Kjær
past the date!
Collected tweets from:  SandKjaer
Tweets collected:  227
Earliest tweet was from:  2018-12-19 11:51:40

86 Pia Kjærsgaard
past the date!
Collected tweets from:  Pia_Kjaersgaard
Tweets collected:  926
Earliest tweet was from:  2018-12-31 16:51:45

87 Marcus Knuth
Collected tweets from:  MarcusKnuth1
Tweets collected:  46
Earliest tweet was from:  2020-02-23 08:22:37

88 Stén Knuth
past the date!
Collected tweets from:  Sten_Knuth
Tweets collected:  432
Earliest tweet was from:  2018-11-30 16:57:44

89 Simon Kollerup
past the date!
Collected tweets from:  simonkollerup
Tweets collected:  180
Earliest tweet was from:  2018-12-21 07:40:20

90 Astrid Krag
past the date!
Collected tweets from:  Astridkrag
Tweets collected:  710
Earliest tweet was from:  2018-12-20 12:07:49

91 Marie Krarup
past the date!
Collected tweets from:  MarieKrarup
Tweets collected:  222
Earliest tweet was from:  2018-12-25 11:22:23

92 Henrik Dam Kristensen
NaN

93 Anders Kronborg
past the date!
Collected tweets from:  AndersKronborg
Tweets collected:  334
Earliest tweet was from:  2018-12-20 12:47:41

94 Susan Kronborg
past the date!
Collected tweets from:  Kronborgsusan
Tweets collected:  435
Earliest tweet was from:  2018-12-30 21:35:02

95 Rasmus Horn Langhoff
past the date!
Collected tweets from:  rasmushorn
Tweets collected:  149
Earliest tweet was from:  2018-11-20 12:02:28

96 Malte Larsen
past the date!
Collected tweets from:  MalteLarsen
Tweets collected:  36
Earliest tweet was from:  2018-08-10 10:50:12

97 Per Larsen
Collected tweets from:  PerLarsenC
Tweets collected:  182
Earliest tweet was from:  2019-09-11 08:54:18

98 Aaja Chemnitz Larsen
past the date!
Collected tweets from:  AajaCL
Tweets collected:  40
Earliest tweet was from:  2018-12-19 06:50:00

99 Tanja Larsson
past the date!
Collected tweets from:  LarssonTanja
Tweets collected:  23
Earliest tweet was from:  2018-12-17 15:34:00

100 Karsten Lauritzen
past the date!
Collected tweets from:  StemLAURITZEN
Tweets collected:  106
Earliest tweet was from:  2018-12-11 16:35:50

101 Bjarne Laustsen
NaN

102 Martin Lidegaard
past the date!
Collected tweets from:  martinlidegaard
Tweets collected:  331
Earliest tweet was from:  2018-12-30 05:28:06

103 Lars Christian Lilleholt
past the date!
Collected tweets from:  larsclilleholt
Tweets collected:  63
Earliest tweet was from:  2018-12-21 07:03:25

104 Annette Lind
past the date!
Collected tweets from:  annette_lind
Tweets collected:  5
Earliest tweet was from:  2018-12-05 16:56:45

105 Stinus Lindgreen
Collected tweets from:  stinuslindgreen
Tweets collected:  476
Earliest tweet was from:  2020-08-15 14:08:50

106 Kristian Pihl Lorentzen
past the date!
Collected tweets from:  kplorentzen
Tweets collected:  129
Earliest tweet was from:  2018-09-13 06:20:03

107 Rosa Lund
past the date!
Collected tweets from:  RosaLundEl
Tweets collected:  703
Earliest tweet was from:  2018-12-25 17:18:44

108 Rune Lund
past the date!
Collected tweets from:  RuneLundEL
Tweets collected:  548
Earliest tweet was from:  2018-12-19 16:10:23

109 Sophie Løhde
past the date!
Collected tweets from:  sophieloehde
Tweets collected:  390
Earliest tweet was from:  2018-12-19 10:17:01

110 Christian Rabjerg Madsen
past the date!
Collected tweets from:  RabjergMadsen
Tweets collected:  230
Earliest tweet was from:  2018-12-31 17:11:01

111 Rasmus Vestergaard Madsen
past the date!
Collected tweets from:  RasmusVMadsen
Tweets collected:  364
Earliest tweet was from:  2018-12-21 13:11:05

112 Jacob Mark
past the date!
Collected tweets from:  jacobmark_sf
Tweets collected:  646
Earliest tweet was from:  2018-12-29 10:42:36

113 Lars Boje Mathiesen
past the date!
Collected tweets from:  LBMathiesen
Tweets collected:  99
Earliest tweet was from:  2018-11-19 18:23:22

114 Anni Matthiesen
past the date!
Collected tweets from:  AnniMatthiesen
Tweets collected:  443
Earliest tweet was from:  2018-12-05 06:52:06

115 Christoffer Aagaard Melson
past the date!
Collected tweets from:  ChristofferMels
Tweets collected:  97
Earliest tweet was from:  2018-12-21 17:29:17

116 Mai Mercado
past the date!
Collected tweets from:  _MaiMercado
Tweets collected:  368
Earliest tweet was from:  2018-12-20 08:16:32

117 Morten Messerschmidt
past the date!
Collected tweets from:  MrMesserschmidt
Tweets collected:  596
Earliest tweet was from:  2018-12-29 13:47:32

118 Kenneth Mikkelsen
past the date!
Collected tweets from:  KD_Mikkelsen
Tweets collected:  31
Earliest tweet was from:  2018-12-31 09:10:38

119 Flemming Møller Mortensen
Collected tweets from:  udviklingsmin
Tweets collected:  118
Earliest tweet was from:  2021-01-25 16:22:34

120 Signe Munk
past the date!
Collected tweets from:  signe_munk
Tweets collected:  595
Earliest tweet was from:  2018-12-10 15:34:06

121 Charlotte Broman Mølbæk
past the date!
Collected tweets from:  charlottebroman
Tweets collected:  239
Earliest tweet was from:  2018-12-19 15:05:37

122 Henrik Møller
Collected tweets from:  Henrikm86712011
Tweets collected:  56
Earliest tweet was from:  2020-10-10 07:53:40

123 Samira Nawa
past the date!
Collected tweets from:  SamiraNawa
Tweets collected:  494
Earliest tweet was from:  2018-12-23 10:57:04

124 Sofie Carsten Nielsen
Collected tweets from:  sofiecn
Tweets collected:  784
Earliest tweet was from:  2019-02-18 21:40:07

125 Rasmus Nordqvist
Collected tweets from:  rasmusnordqvist
Tweets collected:  801
Earliest tweet was from:  2019-01-04 14:13:58

126 Ellen Trane Nørby
past the date!
Collected tweets from:  EllenTraneNorby
Tweets collected:  240
Earliest tweet was from:  2018-11-27 20:52:31

127 Halime Oguz
past the date!
Collected tweets from:  Halime9Oguz
Tweets collected:  13
Earliest tweet was from:  2018-04-14 08:07:50

128 Ole Birk Olesen
past the date!
Collected tweets from:  olebirkolesen
Tweets collected:  168
Earliest tweet was from:  2018-05-30 18:12:45

129 Kathrine Olldag
past the date!
Collected tweets from:  KathrineOlldag
Tweets collected:  237
Earliest tweet was from:  2011-05-15 08:46:57

130 Torsten Schack Pedersen
past the date!
Collected tweets from:  Torstenschack
Tweets collected:  390
Earliest tweet was from:  2018-12-19 09:01:59

131 Jesper Petersen

past the date!
Collected tweets from:  Jesper_Pet
Tweets collected:  422
Earliest tweet was from:  2018-12-18 11:42:12

132 Rasmus Helveg Petersen
past the date!
Collected tweets from:  rasmushelveg
Tweets collected:  28
Earliest tweet was from:  2018-11-19 11:47:34

133 Søren Pape Poulsen
past the date!
Collected tweets from:  SorenPape
Tweets collected:  298
Earliest tweet was from:  2018-12-31 14:14:30

134 Troels Lund Poulsen
past the date!
Collected tweets from:  troelslundp
Tweets collected:  117
Earliest tweet was from:  2018-12-18 10:17:32

135 Rasmus Prehn
past the date!
Collected tweets from:  RasmusPrehn
Tweets collected:  719
Earliest tweet was from:  2018-12-21 20:15:32

136 Lars Aslan Rasmussen
past the date!
Collected tweets from:  lars_aslan
Tweets collected:  375
Earliest tweet was from:  2018-12-25 09:09:12

137 Lars Løkke Rasmussen
past the date!
Collected tweets from:  larsloekke
Tweets collected:  418
Earliest tweet was from:  2018-12-30 23:05:35

138 Søren Egge Rasmussen
past the date!
Collected tweets from:  SorenEggeRasmus
Tweets collected:  557
Earliest tweet was from:  2018-12-28 07:04:05

139 Troels Ravn
past the date!
Collected tweets from:  RavnTroels
Tweets collected:  16
Earliest tweet was from:  2018-11-21 16:56:42

140 Katrine Robsøe
past the date!
Collected tweets from:  KatrineRobsoe
Tweets collected:  101
Earliest tweet was from:  2018-12-03 09:23:35

141 Lotte Rod
past the date!
Collected tweets from:  LotteRod
Tweets collected:  311
Earliest tweet was from:  2018-12-20 09:57:14

142 Jens Rohde
past the date!
Collected tweets from:  rohde_jens
Tweets collected:  257
Earliest tweet was from:  2018-12-11 17:38:41

143 Pernille Rosenkrantz-Theil
past the date!
Collected tweets from:  RosenkrantzT
Tweets collected:  441
Earliest tweet was from:  2018-12-21 18:22:55

144 Kasper Roug
Collected tweets from:  KasperRoug
Tweets collected:  23
Earliest tweet was from:  2021-02-22 18:25:03

145 Merete Scheelsbeck
past the date!
Collected tweets from:  Scheelsbeck
Tweets collected:  41
Earliest tweet was from:  2018-12-12 08:55:58

146 Hans Christian Schmidt
NaN

147 Sikandar Siddique
past the date!
Collected tweets from:  SikandaSIDDIQUE
Tweets collected:  1115
Earliest tweet was from:  2018-12-31 17:57:14

148 Hans Kristian Skibby
past the date!
Collected tweets from:  Hans_Kr_Skibby
Tweets collected:  725
Earliest tweet was from:  2018-12-23 14:44:13

149 Pernille Skipper
past the date!
Collected tweets from:  PSkipperEL
Tweets collected:  683
Earliest tweet was from:  2018-12-31 17:27:14

150 Julie Skovsby
past the date!
Collected tweets from:  JulieSkovsby
Tweets collected:  38
Earliest tweet was from:  2018-12-07 08:19:14

151 Sjúrður Skaale
NaN

152 Peter Skaarup
past the date!
Collected tweets from:  skaarup_df
Tweets collected:  2095
Earliest tweet was from:  2018-12-31 12:13:51

153 Zenia Stampe
past the date!
Collected tweets from:  zeniastampe
Tweets collected:  45
Earliest tweet was from:  2018-12-20 10:16:35

154 Andreas Steenberg
past the date!
Collected tweets from:  a_steenberg
Tweets collected:  203
Earliest tweet was from:  2018-12-20 08:43:08

155 Rasmus Stoklund
past the date!
Collected tweets from:  RStoklund
Tweets collected:  667
Earliest tweet was from:  2018-11-22 09:45:33

156 Ina Strøjer-Schmidt
NaN

157 Inger Støjberg
NaN

158 Jakob Sølvhøj
past the date!
Collected tweets from:  JakobSoelvhoej
Tweets collected:  320
Earliest tweet was from:  2018-12-28 10:49:39

159 Søren Søndergaard
past the date!
Collected tweets from:  SrenSndergaard3
Tweets collected:  430
Earliest tweet was from:  2018-12-27 07:28:31

160 Mattias Tesfaye
past the date!
Collected tweets from:  mattiastesfaye
Tweets collected:  502
Earliest tweet was from:  2018-12-29 20:01:49

161 Mette Thiesen
past the date!
Collected tweets from:  ThiesenMette
Tweets collected:  100
Earliest tweet was from:  2018-05-17 17:49:44

162 Maja Torp
past the date!
Collected tweets from:  MajaTorpAalborg
Tweets collected:  33
Earliest tweet was from:  2018-10-18 18:28:17

163 Trine Torp
past the date!
Collected tweets from:  TrineTorp
Tweets collected:  145
Earliest tweet was from:  2018-12-24 17:13:08

164 Ulla Tørnæs
past the date!
Collected tweets from:  Ulla_Tornaes
Tweets collected:  73
Earliest tweet was from:  2018-12-21 08:28:33

165 Carl Valentin
past the date!
Collected tweets from:  Carl__Valentin
Tweets collected:  433
Earliest tweet was from:  2018-12-31 15:05:37

166 Kim Valentin
past the date!
Collected tweets from:  kimvalentinDK
Tweets collected:  596
Earliest tweet was from:  2017-06-21 08:36:33

167 Alex Vanopslagh
past the date!
Collected tweets from:  AlexVanopslagh
Tweets collected:  183
Earliest tweet was from:  2018-12-30 08:48:43

168 Victoria Velasquez
past the date!
Collected tweets from:  VictoriaV_EL
Tweets collected:  110
Earliest tweet was from:  2018-11-01 20:41:06

169 Pernille Vermund
past the date!
Collected tweets from:  PernilleVermund
Tweets collected:  337
Earliest tweet was from:  2018-12-30 10:35:42

170 Mai Villadsen
past the date!
Collected tweets from:  MaiVilladsen
Tweets collected:  271
Earliest tweet was from:  2018-11-05 13:21:38

171 Birgitte Vind
past the date!
Collected tweets from:  birgitte_vind
Tweets collected:  228
Earliest tweet was from:  2018-09-14 07:00:29

172 Henrik Vinther
past the date!
Collected tweets from:  vinthertweet
Tweets collected:  91
Earliest tweet was from:  2018-12-07 05:45:31

173 Nicolai Wammen
past the date!
Collected tweets from:  NWammen
Tweets collected:  20
Earliest tweet was from:  2018-12-21 08:02:28

174 Lea Wermelin
past the date!
Collected tweets from:  LeaWermelin
Tweets collected:  186
Earliest tweet was from:  2018-12-19 15:52:13

175 Susanne Zimmer
Collected tweets from:  Susanne_Zimmer_
Tweets collected:  1189
Earliest tweet was from:  2019-08-26 19:08:10

176 Fatma Øktem
past the date!
Collected tweets from:  fatmaoektem
Tweets collected:  105
Earliest tweet was from:  2018-11-23 10:03:33

177 Orla Østerby
past the date!
Collected tweets from:  orlaosterby
Tweets collected:  10
Earliest tweet was from:  2018-12-17 20:38:50

178 Anne Honoré Østergaard
past the date!
Collected tweets from:  AnneStergaa
Tweets collected:  81
Earliest tweet was from:  2018-10-11 12:57:25

In [10]:
"""Counting up the total number of tweets extracted in the process"""

n = 0
for i in data['N_tweets']:
    if i != 'NaN':
        n+=i
print(n) #103.501 pr. 21/4 2021 kl. 16:55

52427

In [ ]:
"""For reference, each tweet has a number of meta-data assigned to it. 
    We can find them with the dir() function.
    
    The ones that are most important are:
    - tweet.full_text // returns the text of the tweet, this is what you see on twitter
    - tweet.created_at // returns the time that the tweet was posted
    - tweet.id // returns the ID of the tweet
    - tweet.author // returns the name of the author of the tweet
    - tweet.retweet_count // returns the amounts of retweet the tweet has gotten
    - tweet.favorite_count // returns the amounts of people who has favorited the tweet
    - tweet.geo // returns the geographic location of the author. It isn't obligatory and most tweets returns: None
    """

## Saving the DataFrame using pickle

In [ ]:
data.head()

In [11]:
data.to_pickle('ALL_tweets_24-05.pkl')

# The code below was used for testing the date_time function and figuring out how to compare dates

In [ ]:
from datetime import datetime, timedelta

In [ ]:
now = datetime.date(datetime.now())
now

In [ ]:
past = datetime.date(data['ALL_tweets'][0][500].created_at)
past

In [ ]:
now2 = datetime.date(datetime(2018,5,18))
now2

In [ ]:
now2 > past